<div class="main-content">
    <!-- <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID </th>
                            <th scope="col">Funcion </th>
                            <th scope="col">Orden </th>
                            <th scope="col">Tipo </th>
                            <th scope="col">Inicial </th>
                            <th scope="col">Buscar </th>
                            <th scope="col">Base </th>
                            <th scope="col">Tabla </th>
                            <th scope="col">Maestro </th>
                            <th scope="col">Despliega </th>
                            <th scope="col">Llave </th>
                            <th scope="col">Campo </th>
                            <th scope="col">Alias </th>
                            <th scope="col">Titulo </th>
                            <th scope="col">Editarcon </th>
                            <th scope="col">Ancho </th>
                            <th scope="col">Valores </th>
                            <th scope="col">Lista </th>
                            <th scope="col">Mascara </th>
                            <th scope="col">Unico </th>
                            <th scope="col">Visble </th>
                            <th scope="col">Formula </th>
                            <th scope="col">Ordenar </th>
                            <th scope="col">Max </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let grid of resultados">
                            <th class="text-center">
                                {{ grid.id }}
                            </th>
                            <td>
                                {{ grid.funcion }}
                            </td>
                            <td>
                                {{ grid.orden }}
                            </td>
                            <td>
                                {{ grid.tipo }}
                            </td>
                            <td>
                                {{ grid.inicial }}
                            </td>
                            <td>
                                {{ grid.buscar }}
                            </td>
                            <td>
                                {{ grid.base }}
                            </td>
                            <td>
                                {{ grid.tabla }}
                            </td>
                            <td>
                                {{ grid.maestro }}
                            </td>
                            <td>
                                {{ grid.despliega }}
                            </td>
                            <td>
                                {{ grid.llave }}
                            </td>
                            <td>
                                {{ grid.campo }}
                            </td>
                            <td>
                                {{ grid.alias }}
                            </td>
                            <td>
                                {{ grid.titulo }}
                            </td>
                            <td>
                                {{ grid.editarcon }}
                            </td>
                            <td>
                                {{ grid.ancho }}
                            </td>
                            <td>
                                {{ grid.valores }}
                            </td>
                            <td>
                                {{ grid.lista }}
                            </td>
                            <td>
                                {{ grid.mascara }}
                            </td>
                            <td>
                                {{ grid.unico }}
                            </td>
                            <td>
                                {{ grid.visible }}
                            </td>
                            <td>
                                {{ grid.formula }}
                            </td>
                            <td>
                                {{ grid.ordenar }}
                            </td>
                            <td>
                                {{ grid.max }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div> -->


    
    <div class="card">
        <div class="card-body">
            <!-- <button (click)="">Check Data </button> -->
            <h3>Welcome {{usuario.username}}</h3>
            <!-- For checking user data into a json -->
            <!-- <p> {{usuario | json}}</p> -->
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <form (ngSubmit)="sendFunction()"> 
                                <input type="text" placeholder="Ingrese funcion" name="funcion" [(ngModel)]="formulario.funcion">
                                <button type="submit">
                                    Enviar
                                </button>
                            </form>
                        </div>
                      </div><!-- /.col-lg-6 -->

                    <div class="col">
                        <button (click)="getSelectedRows()">Get Selected Rows</button>
                    </div>

                    <div class="col">
                        <button (click)="logOut()">Salir</button>
                    </div>
                    
                </div>

                
            </div>


            <ag-grid-angular #agGrid style="width: auto; height: 500px;" class="ag-theme-balham"
                [defaultColDef]="defaultColDef" 
                [rowData]="rowData" 
                [columnDefs]="columnDefs" 
                rowSelection="multiple">
            </ag-grid-angular>



        </div>
    </div>

    <!-- <ul>
        <li *ngFor="let grid of resultados" >
            {{ grid.funcion }}
        </li>
    </ul>  -->
</div>