<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-5 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Registrar Usuario</h5>
    
                        <form (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="username" class="form-control" name="username"
                                    placeholder="Enter username" [(ngModel)]="registerForm.username">
                            </div>
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" name="email"
                                   [(ngModel)]="registerForm.email " placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" name="password"
                                [(ngModel)]="registerForm.password" placeholder="Password" >
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Tipo de Usuario</label>
                                <select class="form-control" [(ngModel)]="registerForm.user_type" name="user_type">
                                  <option value="internal"> Interno </option>
                                  <option value="external"> Externo </option>
                                </select>
                              </div>
    
                            <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
                        </form>
                        
    
                    </div>
                </div>

                

            </div>
        </div>
    </div>
</div>