<div class="main-content" >
    <div class="container" >
        <div class="row">
            <div class="col-md-6 mt-5 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Ingresar</h5>

                        <form (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" name="email"
                                   [(ngModel)]="loginForm.email " placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" name="password"
                                [(ngModel)]="loginForm.password" placeholder="Password" >
                            </div>

                            <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
                        </form>
                        

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>